@import url("https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans+Narrow:wght@400;700&display=swap");

:root {
  --white--color: #ffffff;
  --yellow--color: #fcfe00;
  --green--color: #39ff14;
  --red--color: #ff0f7a;
  --blue--color: #5501ee;
}
li {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-family: "Anton", sans-serif;
}
h1 {
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.17);
}
.active--page {
  color: var(--yellow--color) !important;
}
body {
  font-family: "PT Sans Narrow", sans-serif;
  overflow-x: hidden;
}
p {
  font-size: 20px;
  color: var(--white--color);
}
nav {
  width: 100%;
  height: 12vh;
  background: transparent;
  padding: 0 375px;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.overlay.active {
  display: block;
  pointer-events: all;
}
.overlay {
  background: #000000af;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  display: none;
  pointer-events: none;
}
.burger__div {
  display: none;
  pointer-events: none;
}
.burger__div img {
  width: 40px;
}
.close--burger__div {
  display: none;
  pointer-events: none;
}
.close--burger__div.active {
  display: block;
  pointer-events: all;
}
.nav--col--1 {
  position: relative;
  display: flex;
  align-items: center;
  /* padding-top: 2rem; */
  width: 144px;
}
.nav--col--1 img {
  width: 100%;
  height: 100%;
}
.nav--col--2 {
  display: flex;
}
.nav--col--2 li {
  margin-right: 55px;
  list-style: none;
}
.nav--col--2 li a {
  font-family: "PT Sans Narrow", sans-serif;
  color: var(--white--color);
  text-decoration: none;
  font-size: 22px;
}

.nav--col--2 li:last-child {
  margin-right: 0;
}

.yellow--text {
  color: var(--yellow--color);
}

.green--text {
  color: var(--green--color);
}

.red--text {
  color: var(--red--color);
}

.blue--text {
  color: var(--blue--color);
}

.container {
  padding: 0 235px;
}

/* FOOTER */

footer {
  width: 100%;
  background: #000;
  padding: 20px 0;
}
footer .footer--row {
  display: flex;
  align-items: center;
}

footer .footer__delioc {
  display: flex;
}

.footer--row {
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 1rem;
  padding-bottom: 5px;
}

.footer--col--1 {
  width: 122px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 390px;
  /* margin-right: 80px; */
}

.footer--col--1 img {
  position: absolute;
  width: 100%;
}

footer .footer--row .footer--col--2 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
footer .footer--row .footer--col--2 li {
  margin-right: 35px;
}
footer .footer--row .footer--col--2 .footer__delioc:last-child li:last-child {
  margin-right: 0;
}

footer .footer--row .footer--col--2 li a {
  color: var(--white--color);
  text-decoration: none;
  font-size: 16px;
  line-height: 150%;
}

footer .copyright {
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
}

@media screen and (max-width: 1770px) {
  .footer--col--1 {
    left: 200px;
  }
}
@media screen and (max-width: 1360px) {
  .footer--col--1 {
    left: 150px;
  }
}
@media screen and (max-width: 1270px) {
  .footer--col--1 {
    left: 100px;
  }
}

@media screen and (max-width: 1162px) {
  .footer--col--1 {
    left: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .nav--col--2 li {
    margin-right: 35px;
  }
  .nav--col--1 {
    padding-top: 1rem;
    width: 120px;
  }
  footer .footer__delioc {
    flex-direction: column;
    align-items: start;
  }
  footer .footer__delioc li {
    margin-bottom: 15px;
  }
  .footer--col--1 {
    position: relative;
    left: 0;
  }
}
@media screen and (max-width: 880px) {
  .nav--col--2.active {
    pointer-events: all;
    box-shadow: 0 0 0 2000px #000000b0;
    right: 0;
    transition: all 0.5s ease;
  }
  .nav--col--2 {
    transition: all 0.5s ease;
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 300px;
    background: var(--red--color);
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .nav--col--2 li {
    margin-bottom: 30px;
  }
  .burger__div {
    display: block;
    transition: all 0.5s ease;
    pointer-events: all;
  }
  nav {
    padding: 0 40px;
  }
  .footer--row {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
  }
  footer .footer--row .footer--col--2 {
    width: auto;
    margin-left: 25px;
  }
  footer {
    padding-top: 0;
  }
  footer .footer--row .footer--col--2 li {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1480px) {
  nav {
    padding: 0 135px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 0 30px;
  }
}
@media screen and (max-width: 705px) {
  footer .footer--row .footer--col--2 li {
    margin-right: 20px;
  }
}
@media screen and (max-width: 582px) {
  footer .footer--row {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 570px) {
  footer .footer--row {
    flex-direction: row-reverse;
    padding: 0 20px;
    align-items: flex-start;
    width: 100%;
    padding-top: 45px;
    padding-left: 10px;
    margin-left: 0;
  }
  footer .footer--row .footer--col--2 {
    flex-direction: column;
    width: 100%;
  }
  .footer--col--1 {
    display: block;
    width: 190px;
  }
  footer .footer--row .footer--col--2 {
    margin-left: 0;
    left: 10px;
  }
}

@media screen and (max-width: 425px) {
  .nav--col--2 {
    width: 100%;
  }
  nav {
    height: auto;
    padding: 20px 10px;
  }
}
