@import url("/styles/general.css");

h1 {
  font-size: 80px;
  line-height: 96px;
  margin-bottom: 30px;
}
.services--first__section {
  background: var(--blue--color);
  padding-left: 475px;
  padding-top: 160px;
  padding-bottom: 70px;
  padding-right: 440px;
}
.services--first__section p {
  margin-bottom: 30px;
  text-align: justify;
  max-width: 970px;
}
.services--first__section ul {
  margin-left: 40px;
  max-width: 960px;
}
.services--first__section ul li {
  margin-bottom: 40px;
  display: flex;
}
.services--first__section ul li p:first-child {
  margin-right: 5px;
}
.services--first__section ul li p {
  margin-bottom: 0;
  width: auto;
}

/* Second Section */
.services--second__section,
.services--third__section {
  padding: 70px 0;
  padding-left: 475px;
  padding-right: 440px;
  background: var(--green--color);
}
.services--section--flex {
  display: flex;
  align-items: center;
}
.services--second__section h2,
.services--third__section h2 {
  margin-right: 15px;
  font-size: 30px;
  line-height: 45px;
  width: 697px;
}
.services--second__section img,
.services--third__section img {
  cursor: pointer;
}
/* Third Section */
.services--third__section {
  background: var(--red--color);
}
.read__more--div--services,
.read__more--div--services2 {
  display: none;
}

.read__more--div--services.active,
.read__more--div--services2.active {
  display: block;
}

.read__more--div--services ul,
.read__more--div--services2 ul {
  margin-left: -18px;
}
.read__more--div--services ul li:first-child,
.read__more--div--services2 ul li:first-child {
  margin-top: 30px;
}
.read__more--div--services ul li,
.read__more--div--services2 ul li {
  display: flex;
  margin-bottom: 40px;
}
.read__more--div--services ul li p,
.read__more--div--services2 ul li p {
  text-align: justify;
  margin-right: 5px;
}
.read__more--div--services ul li p:last-child,
.read__more--div--services2 ul li p:last-child {
  margin-right: 0;
}

/* Fourth Section */

.services--fourth__section {
  background: var(--yellow--color);
  padding: 70px 475px;
}
.services--fourth__section h2 {
  font-size: 48px;
  line-height: 72px;
}
.services--row1 p {
  text-align: justify;
  margin: 35px 0;
}

.services--row2 p {
  margin-bottom: 30px;
  text-align: justify;
}

.services--row2 p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1440px) {
  .services--first__section,
  .services--second__section,
  .services--third__section,
  .services--fourth__section {
    padding-left: 235px;
    padding-right: 235px;
  }
}

@media screen and (max-width: 1024px) {
  .services--first__section,
  .services--second__section,
  .services--third__section,
  .services--fourth__section {
    padding-left: 135px;
    padding-right: 135px;
  }
}

@media screen and (max-width: 768px) {
  .services--first__section,
  .services--second__section,
  .services--third__section,
  .services--fourth__section {
    padding-left: 30px;
    padding-right: 30px;
  }
  .services--first__section {
    padding-top: 160px;
  }
  #changed__p {
    margin-bottom: 50px;
  }
  .services--first__section h1 {
    font-size: 60px;
    line-height: 72px;
  }

  .services--second__section h2,
  .services--third__section h2 {
    font-size: 28px;
    line-height: 42px;
  }

  .services--fourth__section h2 {
    font-size: 40px;
    line-height: 60px;
  }
  .services--first__section ul {
    margin-left: 0;
  }
  .read__more--div--services ul,
  .read__more--div--services2 ul {
    margin-left: 0;
  }
}

@media screen and (max-width: 425px) {
  .services--second__section h2,
  .services--third__section h2 {
    font-size: 26px;
    line-height: 38px;
  }

  .services--fourth__section h2 {
    font-size: 36px;
    line-height: 54px;
  }
  .services--first__section,
  .services--second__section,
  .services--third__section,
  .services--fourth__section {
    padding-left: 10px;
    padding-right: 10px;
  }
  .services--first__section {
    padding-top: 130px;
  }
  .services--second__section,
  .services--third__section {
    padding: 50px 10px;
  }
  .services--section--flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .services--section--flex h2 {
    width: auto;
  }
  .read__more--yellow--button,
  .read__more--green--button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
  }
}
