@import url("/styles/general.css");
/* font-family: 'Anton', sans-serif; */
/* font-family: 'PT Sans Narrow', sans-serif; */

.hero--slider {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero--section {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  float: left;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  padding: 0 375px;
}
.slide--1 {
  background-image: url("/images/1home_1920.png");
  transform: translateX(0%);
}
.slide--2 {
  background-image: url("/images/2home_1920.png");
  transform: translateX(100%);
  justify-content: flex-end;
}
.slide--2 h1 {
  width: 470px;
  line-height: 95px;
}

.slide--2 .border--span {
  position: relative;
}
.slide--2 .border--span::after {
  content: "";
  position: absolute;
  left: -7.5%;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 115%;
  height: 5px;
  background: var(--red--color);
  transform: rotate(345deg);
}
.slide--2 .border--span::before {
  content: "";
  position: absolute;
  left: -7.5%;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 115%;
  height: 5px;
  background: var(--red--color);
  transform: rotate(-345deg);
}

.slide--3 {
  background-image: url("/images/3home_1920.png");
  transform: translateX(200%);
}
.slide--3 h1 {
  width: 100%;
  text-align: center;
}
.slide--4 {
  background-image: url("/images/4home_1920.png");
  transform: translateX(300%);
}
.slide--4 h1 {
  width: 880px;
}

.hero--text {
  font-size: 80px;
  color: var(--white--color);
  width: 470px;
  font-weight: normal;
  line-height: 150%;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.56));
}

.change--background {
  position: absolute;
  bottom: 100px;
  display: flex;
  padding: 0 375px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.change--background svg {
  cursor: pointer;
}
.change--background .div__rec svg {
  margin-right: 30px;
}
.change--background .div__rec svg:last-child {
  margin-right: 0;
}

/* SECOND SECTION */

.hero--second__section {
  padding: 100px 476px;
  background: var(--red--color);
}

.hero--second__section h2 {
  font-size: 60px;
  line-height: 90px;
  margin-bottom: 40px;
  text-align: center;
}
.hero--second__section h3 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 40px;
  text-align: center;
}
.hero--second__section a {
  font-size: 24px;
  line-height: 29px;
  display: block;
  text-align: center;
  width: 100%;
}
.hero--second--row {
  display: flex;
  flex-direction: column;
}
.hero__second--col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__second--col p {
  line-height: 30px;
  width: 470px;
  text-align: justify;
}

/* Third Section */

.hero--third__section {
  background: var(--green--color);
  padding: 100px 475px;
  padding-bottom: 80px;
}
.hero--third__section h2 {
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  margin-bottom: 30px;
}
.hero--third__section p {
  line-height: 30px;
  text-align: justify;
}

/* Media Query */

@media screen and (max-width: 1775px) {
  .hero--second__section {
    padding: 100px 235px;
  }
  .hero--third__section {
    padding: 100px 235px;
    padding-bottom: 80px;
  }
  .hero--section {
    padding: 0 135px;
  }
  .change--background {
    padding: 0 170px;
  }
}

@media screen and (max-width: 1440px) {
  .slide--1 {
    background-image: url("/images/1home_1440px.png");
  }
  .slide--2 {
    background-image: url("/images/2home_1440.png");
  }
  .slide--3 {
    background-image: url("/images/3home_1440.png");
  }
  .slide--4 {
    background-image: url("/images/4home_1440.png");
  }
}
@media screen and (max-width: 1140px) {
  .hero--second__section img {
    display: none;
  }
  .hero--second__section {
    padding: 70px 30px;
  }
  .hero--third__section {
    padding: 70px 30px;
  }
  .hero--section {
    padding: 0 30px;
  }
  .change--background {
    padding: 0 30px;
  }
  .hero--text {
    font-size: 70px;
    line-height: 105px;
  }
  .hero--second__section h2 {
    font-size: 40px;
    text-align: left;
  }

  .hero--second__section p {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    margin-bottom: 30px;
    text-align: justify;
  }
  .hero--second__section p:last-child {
    margin-bottom: 0;
  }
  .hero--second__section h3 {
    margin-top: 40px;
    font-size: 26px;
    margin-bottom: 20px;
    text-align: left;
  }
  .hero--second__section a {
    text-align: left;
    font-size: 24px;
  }
  .hero--third__section h2 {
    text-align: left;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .div__rec {
    display: none;
  }
  .slide--1 {
    background-image: url("/images/1home_768px.png");
  }
  .slide--2 {
    background-image: url("/images/2home_768px.png");
  }
  .slide--3 {
    background-image: url("/images/3home_768px.png");
  }
  .slide--4 {
    background-image: url("/images/4home_768px.png");
  }
}

@media screen and (max-width: 425px) {
  .hero--second__section {
    padding: 60px 10px;
  }
  .hero--third__section {
    padding: 60px 10px;
  }
  .hero--section {
    padding: 0 10px;
  }
  .change--background {
    padding: 0 10px;
  }
  .hero--text {
    font-size: 50px;
    line-height: 75px;
  }
  .slide--2 h1 {
    padding-left: 50px;
  }

  .hero--second__section h2 {
    font-size: 40px;
    line-height: 60px;
  }
  .hero--second__section p {
    margin-bottom: 20px;
  }
  .hero--second__section h3 {
    margin-top: 20px;
  }
  .hero--second__section a {
    font-size: 22px;
  }
  .hero--third__section h2 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 360px) {
  .slide--1 {
    background-image: url("/images/1home_360px.png");
  }
  .slide--2 {
    background-image: url("/images/2home_360px.png");
  }
  .slide--3 {
    background-image: url("/images/3home_360px.png");
  }
  .slide--4 {
    background-image: url("/images/4home_360px.png");
  }
}
