form {
  position: relative;
  display: none !important;
}
.overlayRed img {
  cursor: default !important;
}
.overlayRed {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.arrow {
  pointer-events: none;
}
.overlayRed p {
  font-size: 50px;
  line-height: 75px;
  font-family: "Anton", sans-serif;
  margin-top: 35px;
}
.contact--section1 {
  height: 890px;
}
@media screen and (max-width: 768px) {
  .contact--section1 {
    height: 80vh;
    padding-top: 100px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 425px) {
  .overlayRed img {
    width: 81px;
    height: 60px;
  }
  .overlayRed p {
    font-size: 30px;
    line-height: 45px;
    margin-top: 30px;
  }
}
